{% extends 'posts/base.html' %}
{% block content %}

    <div class='create'>
        <h1>
            <a href="{% url 'new' %}">add new</a>
        </h1>
    </div>
    {% for post in object_list reversed %}
    <div class='post'>
        <strong class='username'>{{ post.author.username }}</strong><br />
        <img src="{{ post.image.url }}">
        <p class='description'><em>{{ post.created }}</em><br/>{{ post.description }}</p>
        <hr />
    </div>
    {% endfor %}
    
{% endblock %}
