{% extends 'posts/base.html' %}
{% block content %}

    <div class='create'>
        <h1>
            <a href="{% url 'new' %}">add new</a>
        </h1>
    </div>
    {% for post in object_list reversed %}
    <div class='post'>
        <strong class='username'>{{ post.author.username }}</strong><br />
        <a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}"></a>
        <p class='description'>{{ post.description }}</p>
        <p class='description'><a href="{{ post.get_absolute_url }}">{{ post.comment_set.count }} comments</a></p>
        <p class='description'><a href="{{ post.get_absolute_url }}"><em>{{ post.created }}</em></a></p>
        <hr />
    </div>
    {% endfor %}
    
{% endblock %}
