{% extends 'posts/base.html' %}
{% block content %}

  <strong class='username'>{{ object.author.username }}</strong><br/>
  <div class='post'>
    <img src="{{ object.image.url }}" width=400 height=400>
    <p class='description'><em>{{ object.created }}</em><br/>{{ object.description }}</p>
    <ul class='list-group'>
      {% for comment in object.comment_set.all %}
      <li class='list-group-item'>
        <strong>{{ comment.author }}</strong><br/>
        {{ comment.text }}
      </li>
      {% endfor %}
    </ul>
  </div>
  <br />
  <form action="{% url 'post-detail' pk=object.id %}" method="POST">
    <div class="form-group">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" class="btn btn-primary mb-2">Comment</button>
    </div>
  </form>
  
{% endblock %}